<div class='palestrante' itemprop='performer' itemscope itemtype='http://schema.org/Person'>
	{{#if amp}}
		<amp-img width='120' height='120' src='{{./avatar}}' alt='{{./name}}' class='avatar' itemprop='image'></amp-img>
	{{else}}
		<img src='{{./avatar}}' alt='{{./name}}' class='avatar' itemprop='image'>
	{{/if}}
	<h3 class='nome' itemprop='name'>
		<a href='/palestrante/{{./link}}' title='{{./name}}' itemprop='url'>{{./name}}</a>
	</h3>
	<p class='descricao' itemprop='description'>
		{{./description}}
	</p>
	<div class="links">
		<a href='https://twitter.com/{{./twitter}}' target='_blank' title='@{{./twitter}}'>
			{{#if amp}}
				<amp-img width='20' height='20' src='/assets/images/twitter.png' alt='@{{./twitter}}'></amp-img>
			{{else}}
				<img src='/assets/images/twitter.png' alt='@{{./twitter}}'>
			{{/if}}
		</a>
		<a href='{{./github}}' target='_blank' title='Github: {{./name}}'>
			{{#if amp}}
				<amp-img width='20' height='20' src='/assets/images/github.png' alt='{{./name}}'></amp-img>
			{{else}}
				<img src='/assets/images/github.png' alt='{{./name}}'>
			{{/if}}
		</a>
	</div>
</div>
