@import "reset";

@font-face {
	font-family:museo_sans;
	src:url(//images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.eot);
	src:url(//images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.eot?#iefix) format("embedded-opentype"),
		url(//images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.woff2) format("woff2"),
		url(//images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.woff) format("woff"),
		url(//images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.ttf) format("truetype"),
		url(//images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.svg#museo_sans300) format("svg");
	font-weight:300;
	font-style:normal
}

@font-face{
	font-family:museo_sans;
	src:url(//images.elo7.com.br/assets/v3/fonts/museo-sans-500-webfont.eot);
	src:url(//images.elo7.com.br/assets/v3/fonts/museo-sans-500-webfont.eot?#iefix) format("embedded-opentype"),
		url(//images.elo7.com.br/assets/v3/fonts/museo-sans-500-webfont.woff2) format("woff2"),
		url(//images.elo7.com.br/assets/v3/fonts/museo-sans-500-webfont.woff) format("woff"),
		url(//images.elo7.com.br/assets/v3/fonts/museo-sans-500-webfont.ttf) format("truetype"),
		url(//images.elo7.com.br/assets/v3/fonts/museo-sans-500-webfont.svg#museo_sans500) format("svg");
	font-weight:500;
	font-style:normal
}

* {
	color: inherit;
	box-sizing: border-box;
	font-family: "museo_sans", sans-serif;
	font-style: normal;
	font-weight: inherit;
	text-decoration: none;
}

html, body {
	height: 100%;
}

body {
	color: #7d7873;
	font-size: 1.25em;
	font-weight: 300;
}

#wrapper {
	min-height: 100%;
	position: relative;
	padding-bottom: 45px;
}

footer {
	bottom: 0;
	position: absolute;
	width: 100%
}

body {
	color: #7d7873;
	font-size: 1.25em;
	font-weight: 300;
}

.menu-principal {
	background-color: #333333;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	transform: translateX(-100vw);
	transition: transform 1s;
	width: 60%;
	will-change: transform;
	z-index: 15;

	.secao-link {
		display: block;
		padding: 1em;
	}
}


#menu-principal-trigger {
	display: none;

	&:checked ~ .menu {
		.menu-principal {
			transform: translateX(0);
		}

		.menu-principal-close {
			width: 100vw;
			height: 100vh;
			background-color: rgba(0, 0, 0, 0.4);
			opacity: 1;
			z-index: 10;
		}
	}
}

.menu-principal-close {
	position: absolute;
	left: 0;
	text-indent: -9999px;
	opacity: 0;
	top: 0;
	transition: opacity 1s;
	will-change: opacity;
}

.secao-links {
	display: flex;
	justify-content: space-between;
	max-width: 360px;
	width: 100%;
}

.secao-link {
	text-shadow: 1px 1px 2px #524947;
}

.menu, .rodape {
	background-color: #333333;
	color: #F7F4F0;
	font-size: 0.75em;
	padding-bottom: 1em;
	padding-top: 1em;
}

.container {
	max-width: 1080px;
	margin: 0 auto;
	padding-left: 4%;
	padding-right: 4%;
}

.chamada {
	background-image: url('/assets/images/cover.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #F7F4F0;
	font-size: 2em;
	font-weight: 500;
	text-align: center;
	padding-bottom: 0.75em;
	padding-top: 0.75em;
	position: relative;
	text-shadow: 1px 1px 1px #333333;
	text-transform: uppercase;
}

.texto-chamada {
	display: block;
	font-size: 0.6em;
}

.dia {
	margin-top: 1em;
}

.horario {
	text-transform: lowercase;
}

.local {
	font-size: 0.5em;
	margin-top: 0.5em;
}

.inscricao {
	border: 2px solid white;
	border-radius: 5em;
	color: #F7F4F0;
	display: block;
	font-size: 0.5em;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	text-transform: none;
	width: 10em;
}

.inscricao:hover {
	background-color: rgba(53,156,156, 0.8);
}

.licenca {
	bottom: 1em;
	color: #c1c1c1;
	font-size: 0.2em;
	font-weight: 300;
	position: absolute;
	right: 1em;
	text-transform: none;
}

.secao {
	padding-top: 1em;
	padding-bottom: 1em;
}

.titulo {
	color: #333333;
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

.descricao {
	line-height: 1.5;
}

.elo7 {
	color: #fdb933;
}

#agenda, #local {
	background-color: #f8f8f8;
}

.mapa {
	margin-top: 0.5em;
}

.mapa iframe {
    pointer-events: none
}

.mapa.selecionado iframe {
    pointer-events: auto
}

#agenda .descricao {
	margin-bottom: 0.5em;
}

.atividade {
	margin-top: 1.5em;
}

.tema {
	color: #359c9c;
	margin-bottom: 0.25em;
}

.resumo {
	font-size: 0.9em;
	line-height: 1.5;
}

.palestrante {
	border-top: 1px dashed #f0f0f0;
	clear: left;
	margin-bottom: 1em;
	overflow: hidden;
	padding-top: 1em;
}

.palestrante:first-child {
	border-top: 0;
}

.avatar {
	border: 5px solid #ebebea;
	border-radius: 50%;
	float: left;
	height: 120px;
	margin-right: 1em;
	width: 120px;
}

.nome {
	color: #333333;
	margin-bottom: 0.5em;
	padding-top: 5px;
}

.palestrante .descricao {
	font-size: 0.9em;
}

.offline-message {
	background-color: #000;
	color: #fff;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0.6em;
}

.hide {
	display: none;
}

.eventos {
	.evento {
		overflow: auto;
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 1px solid #dedede;

		&:last-child {
			border-bottom: 0;
			margin-bottom: 0;
		}

		.imagem {
			float: left;
			margin-right: 1rem;
		}
	}

	.subtitulo {
		color: #333;
		margin-bottom: 1rem;
	}

	.descricao {
		font-size: 1rem;
	}

	.palestra {
		overflow: auto;
		margin-bottom: 1.5rem;
	}

	.details {
		line-height: 1.2;
		font-size: 1rem;

		dt {
			color: #333;
			display: inline;

			&:after {
				content: ': '
			}
		}

		dd {
			display: inline;
		}

		dd + dt:before {
			content: '\A';
			white-space: pre;
		}
	}

	.palestrantes {
		clear: both;
		display: flex;
		margin-top: 1rem;
		margin-bottom: 1rem;

		li {
			display: flex;
			flex: 1;
			padding-right: 1em;
			align-items: center;
		}

		h4 {
			font-size: 1rem;
		}

		img {
			border-radius: 50%;
			margin-right: 0.5rem;
		}
	}
}

@media (min-width: 600px) {

	.menu-principal-label {
		display: none;
	}

	.secao-links, .menu-principal {
		width: auto;
	}

	.menu-principal {
		display: flex;
		transform: none;
		background-color: transparent;
		position: static;
		width: auto;
		height: auto;
	}

	.cabecalho {
		display: flex;
	}

	.secao-links .secao-link {
		padding-right: 1em;
	}

	.secao-links .secao-link:first-child {
		display: none;
	}

	.menu-principal .secao-link {
		display: flex;
		padding: 0 1em 0 0;
	}

}
