<form class='secao container' action='/contato/enviar' method='post' id='contato'>
	<h2 class='titulo'>Contato</h2>
  <label>
    Assunto
    <select name='subject' required>
      <option value='feedback'>Feedback</option>
      <option value='contact'>Contato</option>
      <option value='speaker'>Quero palestrar</option>
    </select>
  </label>
  <label>
    Nome
    <input name='name' autofocus required>
  </label>
  <label>
    E-mail
    <input type='email' name='email' required>
  </label>
  <label>
    Mensagem
    <textarea name='message' rows='3' required></textarea>
  </label>
  <input type='submit' class='enviar' value='Enviar'>
</form>
