
<section class='secao container'>
	<h2 class='titulo'>Eventos</h2>
	<ol class='eventos'>
		{{#forEach events}}
			<li class='evento'>
				{{#forEach ./lectures}}
					<section class='palestra'>
							<h3 class='subtitulo'>{{title}}</h3>
							<img class='imagem' src='{{image}}' width='70' height='70'>
							<p class='descricao'>{{description}}</p>
					</section>
				{{/forEach}}
				<section class='detalhes'>
					<h3 class='subtitulo'>{{inflect ./speakers.length "Palestrante" "Palestrantes"}}</h3>
					<ul class='palestrantes'>
						{{#forEach ./speakers}}
							<li>
								<a href='/palestrante/{{link}}'>
									<img src='{{avatar}}' width='40' height='40'>
									<h4>{{name}}</h14>
								</a>
							</li>
						{{/forEach}}
					</ul>
					<h3 class='subtitulo'>Evento</h3>
					<dl class='details'>
						<dt>Data</dt>
						<dd><time datetime='2016-12-05' class='horario'>{{date}}</time></dd>
						<dt>Local</dt>
						<dd>Rua Beira Rio, 57 - 1 andar - Auditorio</dd>
					</dl>
				</section>
			</li>
		{{/forEach}}
	</ol>
</section>
