<section class='secao container' id='evento' itemprop='Organizer' itemscope itemtype='http://schema.org/Organization'>
	<h2 class='titulo'>O evento</h2>
	<p class='descricao'>
		O Front7 é um evento que nasceu dos desenvolvedores do <a href='http://www.elo7.com.br' title='Elo7 | Produtos fora de série' class='elo7' itemprop='url'><span itemprop='name'>Elo7</span></a> com o intuito de propagar conhecimentos e novas técnicas para o desenvolvimento front-end.
	</p>
</section>
<section class='secao container' id='agenda'>
	<h2 class='titulo'>Agenda</h2>
	<ol>
		<li class='atividade'>
			<h3 class='tema'>Abertura (<time datetime='2016-12-05 18:30'  class='horario'>18h30</time>)</h3>
			<p class='resumo'>Recepção</p>
		</li>
		<li class='atividade' itemprop='subEvent' itemscope itemtype='http://schema.org/Event'>
			<h3 class='tema' itemprop='name'>{{lectures.0.title}} (<time datetime='{{lectures.0.date}}' class='horario'>18h45</time>)</h3>
			<meta itemprop='startDate' content='2016-12-05T18:45'>
			<p class='resumo' itemprop='description'>
				{{lectures.0.description}}
			</p>
			<address itemprop='location' itemscope itemtype='http://schema.org/Place'>
				<meta itemprop='name' content='Auditório'>
				<meta itemprop='address' content='1 andar'>
			</address>
		</li>
		<li class='atividade'>
			<h3 class='tema'>Coffee-break (<time datetime='{{lectures.1.date}}' class='horario'>19h30</time>)</h3>
			<p class='resumo'>Comidaaaa!</p>
		</li>
		<li class='atividade' itemprop='subEvent' itemscope itemtype='http://schema.org/Event'>
			<h3 class='tema' itemprop='name'>{{lectures.1.title}} (<time datetime='2016-12-05 19:45' class='horario'>19h45</time>)</h3>
			<meta itemprop='startDate' content='2016-12-05T19:45'>
			<p class='resumo' itemprop='description'>
				{{lectures.1.description}}
			</p>
			<address itemprop='location' itemscope itemtype='http://schema.org/Place'>
				<meta itemprop='name' content='Auditório'>
				<meta itemprop='address' content='1 andar'>
			</address>
		</li>
	</ol>
</section>
<section id='palestrantes'>
	<div class='secao container'>
		{{#with speakers}}
			<h2 class='titulo'>{{pluralize . "Palestrante" "Palestrantes"}}</h2>
			{{>speakers}}
		{{/with}}
	</div>
</section>
<section class='secao' id='local' itemprop='location' itemscope itemtype='http://schema.org/Place'>
	<meta itemprop='name' content='Elo7'>
	<div class='container'>
		<h2 class='titulo'>Local</h2>
		<address class='endereco' itemprop='address' itemscope itemtype='http://schema.org/PostalAddress'>
			<p class='descricao' itemprop='streetAddress'>Rua Beira Rio, 57, 1o. andar</p>
			<p class='descricao'>Vila Olímpia - <span itemprop='addressLocality'>São Paulo</span> - <span itemprop='addressRegion'>SP</span> - CEP: <span itemprop='postalCode'>04548-050</span></p>
		</address>
		<div class='mapa'>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.2722794069064!2d-46.69305858451137!3d-23.59456608466641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57386891fef7%3A0xa560366583229e24!2sR.+Beira+Rio%2C+57+-+Centro%2C+S%C3%A3o+Paulo+-+SP%2C+04548-050!5e0!3m2!1spt-BR!2sbr!4v1455552052484" width="100%" height="350"
			frameborder="0" style="border:0;" allowfullscreen></iframe>
		</div>
	</div>
</section>